* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 50px;
  max-height: 50px;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-dark-grey);
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

:root {
  --color-dark-grey: #151515;
  --color-grey: #222222;
  --color-purple: #420074;
  --color-white-grey: #373737;
  --color-white: white;
  --color-dark-purple: #22152c;
  --color-red-price: #e74c3c;
}

form,
button,
a,
img,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 1px solid #968c83;
  color: var(--color-white);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.nav_header_container {
  background-color: var(--color-white-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 4px;
  margin: 15px 0 15px;
  border-radius: 10px;
}
.nav_item {
  background-color: var(--color-grey);
  border-radius: 10px;
  flex: 1;
  padding: 1px 5px;
  text-align: center;
}

.header_menu {
  display: flex;
  background-color: var(--color-white-grey);
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 5px;
}

.logo {
  font-size: 25px;
}

.header_catolog {
  background-color: var(--color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  gap: 2px;
}

.header_catolog_img {
  height: 20px;
  width: auto;
}

.form_class {
  min-width: 300px;
  min-height: 34px;
  display: flex;
}
.header_nav_input {
  width: 100%;
  background-color: var(--color-dark-grey);
  border-radius: 10px;
  border: none;
  color: white;
  padding-left: 10px;
}

.Header_lk {
}

.log_reg {
  display: flex;
  gap: 10px;
}

.header_login {
}
.header_register {
}

.slider-wrapper {
  position: relative;
  margin: 50px 0 30px;
}

/* Стрелки внутри контейнера */
.arrow {
  position: absolute;
  top: 37%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;
}
.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

.arrow::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid var(--color-white);
  border-left: 3px solid var(--color-white);
}

.arrow.left::before {
  transform: rotate(-45deg);
}

.arrow.right::before {
  transform: rotate(135deg);
}

/* Слайдер */
.slider-container {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  max-height: 280px;
}

.slide {
  min-width: 100%;
  display: flex;
  padding: 0 0px;
}

.slide-content {
  display: flex;
  width: 100%;
  gap: 40px;
}

.slide-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-image img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
}

.slide-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 15px;
}

.slide-description {
  font-size: 16px;
  color: var(--color-white);
  line-height: 1.4;
  margin-bottom: 0px;
}

.slide-price {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-red-price);
  margin: 15px 0;
}

.slide-button {
  background: var(--color-purple);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  margin-top: 1px;
  border: 1px solid var(--color-purple);
}

.slide-button:hover {
  background: #5a009d;
}

/* Индикаторы слайдов */
.indicators {
  display: flex;
  justify-content: center;
  padding: 8px 10px 20px 10px;
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-white-grey);
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicator.active {
  background: var(--color-purple);
}

.two_blocks {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.ferst_block {
  border-radius: 10px;
  display: block;
  flex: 1;
}

.ganre {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  background-color: var(--color-white-grey);
  margin: 10px 0px;
}

.genres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.genre_btn {
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-grey);
}

.genre_finder {
  background-color: var(--color-white-grey);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}
.genre_form {
  display: flex;
  background-color: var(--color-grey);
  min-width: 190px;
  min-height: 25px;
  border-radius: 10px;
}

.genre_form_input {
  background-color: var(--color-grey);
  border: none;
  padding-left: 15px;
  border-radius: 10px;
  width: 100%;
}

.second_block {
  background-color: var(--color-white-grey);
  text-align: center;
  padding: 10px 40px;
  border-radius: 10px;
  margin: 10px 0;
}

.second_block h2 {
  margin-bottom: 20px;
}
