* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-dark-grey);
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

:root {
  --color-dark-grey: #151515;
  --color-grey: #222222;
  --color-purple: #420074;
  --color-white-grey: #373737;
  --color-white: white;
  --color-dark-purple: #22152c;
  --color-red-price: #e74c3c;
  --color-purple-textL: #7600d1;
}

form,
button,
a,
img,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0px solid #968c83;
  color: var(--color-white);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.nav_header_container {
  background-color: var(--color-white-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 4px;
  margin: 15px 0 15px;
  border-radius: 10px;
  border: 3px solid var(--color-dark-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}
.nav_item {
  background-color: var(--color-grey);
  border-radius: 10px;
  flex: 1;
  padding: 3px 5px;
  text-align: center;
  color: var(--color-purple-textL);
  font-weight: 900;
}

.header_menu {
  display: flex;
  background-color: var(--color-white-grey);
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid var(--color-dark-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}

.logo {
  font-size: 35px;
}

.header_catolog {
  background-color: var(--color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  gap: 2px;
}

.header_catolog_img {
  height: 20px;
  width: auto;
}

.form_class {
  min-width: 300px;
  min-height: 40px;
  display: flex;
}
.header_nav_input {
  width: 100%;
  background-color: var(--color-dark-grey);
  border-radius: 10px;
  border: none;
  color: white;
  padding-left: 10px;
}

.Header_lk {
}

.log_reg {
  display: flex;
  gap: 10px;
}

.header_login {
}
.header_register {
}

.slider-wrapper {
  position: relative;
  margin: 60px 0 20px;
}

/* Стрелки внутри контейнера */
.arrow {
  position: absolute;
  top: 37%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;
}
.arrow.left {
  left: -10px;
}

.arrow.right {
  right: -50px;
}

.arrow::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid var(--color-white);
  border-left: 3px solid var(--color-white);
}

.arrow.left::before {
  transform: rotate(-45deg);
}

.arrow.right::before {
  transform: rotate(135deg);
}

/* Слайдер */
.slider-container {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  max-height: 280px;
}

.slide {
  min-width: 100%;
  display: flex;
  padding: 0 0px;
}

.slide-content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.slide-image {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.slide-image img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 10px;
}

.slide-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.slide-title {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 15px;
}

.slide-description {
  font-size: 16px;
  color: var(--color-white);
  line-height: 1.4;
  margin-bottom: 0px;
}

.slide-price {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-red-price);
  margin: 15px 0;
}

.slide-button {
  background: var(--color-purple);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  margin-top: 1px;
  border: 1px solid var(--color-purple);
}

.slide-button:hover {
  background: #5a009d;
}

/* Индикаторы слайдов */
.indicators {
  display: flex;
  justify-content: center;
  padding: 8px 10px 20px 10px;
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-white-grey);
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicator.active {
  background: var(--color-purple);
}

.two_blocks {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 90px;
  align-items: center;
}

.ferst_block {
  border-radius: 10px;
  display: block;
  flex: 1;
}

.ganre {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  background-color: var(--color-white-grey);
  margin: 15px 0px;
  border: 3px solid var(--color-dark-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}

.genres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.genre_btn {
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-grey);
  cursor: pointer;
  box-shadow: 1px 1px var(--color-purple);
}

.genre_finder {
  background-color: var(--color-white-grey);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  border: 3px solid var(--color-dark-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}
.genre_form {
  display: flex;
  background-color: var(--color-grey);
  min-width: 190px;
  min-height: 25px;
  border-radius: 10px;
}

.genre_form_input {
  background-color: var(--color-grey);
  border: none;
  padding-left: 15px;
  border-radius: 10px;
  width: 100%;
}

.second_block {
  background-color: var(--color-white-grey);
  text-align: center;
  padding: 10px 40px;
  border-radius: 10px;
  margin: 10px 0;
  border: 3px solid var(--color-dark-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}

.second_block h2 {
  margin-bottom: 20px;
}

.Popular {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 10px;
  margin: 30px 0 30px;
}

.Popular_title {
  text-align: center;
  margin-top: 100px;
}

.game_card {
  background-color: var(--color-grey);
  border-radius: 10px;
}

.game_card_img {
}

.game_card h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 10px 10px;
  color: var(--color-white);
  min-height: 30px;
}

.game_card p {
  color: #bbb;
  font-size: 15px;
  margin: 0 10px 15px;
  line-height: 1.5;
  min-height: 140px;
}

.card_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-purple);
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  margin: 0 10px 15px;
  cursor: pointer;
  width: calc(100% - 20px);
  gap: 8px;
}

.parniers {
  text-align: center;
  margin: 80px 0 50px;
}

.partnier_card {
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: center;
  margin: 20px;
}

.partnier_card_btn {
  cursor: pointer;
  background-color: var(--color-white-grey);
  border-radius: 10px;
  max-width: 180px;
}

.partnier_card_btn p {
  margin: 5px 10px;
  min-height: 70px;
}

.Partnier_card_img {
  width: 180px;
  height: 100px;
  border-radius: 10px;
}

.footer {
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 250px;
}

.footer_nav h3 {
}

.navv {
}

.ul_one {
  padding-left: 22px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.ul_two {
  padding-left: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.ul_forth {
  padding-left: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
}

.ul_fi {
  padding-left: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
}

.ul_last {
  padding-left: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.4;
}

.ottt {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.history_store {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: center;
  margin: 20px;
  padding: 10px;
  background-color: var(--color-white-grey);
  text-align: start;
  border-radius: 10px;
  border: 3px solid var(--color-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
  gap: 10px;
}

.history_store h2 {
  text-align: center;
  margin-bottom: 15px;
}

.history_block {
  background-color: var(--color-grey);
  padding: 5px;
  border-radius: 10px;
}

.setting {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 20px;
  padding: 10px;
  background-color: var(--color-white-grey);
  text-align: center;
  border-radius: 10px;
  border: 3px solid var(--color-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}
.settingq {
  cursor: pointer;
}

.login_site {
  justify-self: center;
  margin: 20px;
  padding: 10px;
  background-color: var(--color-white-grey);
  text-align: center;
  border-radius: 10px;
  border: 3px solid var(--color-purple);
  box-shadow: 1px 1px var(--color-purple-textL);
}

.login_site h2 {
}

.input_title {
  margin: 20px 10px;
}

.login_site_form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-grey);
  border-radius: 10px;
  color: #6a5acd;
}

.login_input {
  width: 300px;
  height: 25px;
  justify-content: center;
  background-color: var(--color-dark-grey);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 15px;
  text-align: center;
}

.log-in_btn {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 3px 25px;
  background-color: var(--color-purple);
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--color-dark-purple);
  margin-top: 10px;
}

.login_site p {
  font-size: 15px;
  opacity: 0.8;
}

.checkbox {
}
